<div class="sys-info">
    微信后台管理
</div>
<div class="sys-menu" id="system-menu">
    <div class="lmui-menu">
        <div class="lmui-menu-btn">
            <a href="javascript: void(0);">
                <div class="lmui-menu-icon">
                    <img src="image/a.png"/>
                </div>
                <div class="lmui-menu-name">组件</div>
                <div class="lmui-menu-switch"></div>
            </a>
        </div>
        <div class="lmui-menu-children">
            <div class="lmui-menu">
                <div class="lmui-menu-btn">
                    <a href="javascript: void(0);">
                        <div class="lmui-menu-name">组件</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="lmui-menu">
        <div class="lmui-menu-btn">
            <a href="javascript: void(0);">
                <div class="lmui-menu-icon">
                    <img src="image/a.png"/>
                </div>
                <div class="lmui-menu-name">系统维护</div>
                <div class="lmui-menu-switch"></div>
            </a>
        </div>
        <div class="lmui-menu-children">
            <div class="lmui-menu">
                <div class="lmui-menu-btn">
                    <a href="javascript: void(0);">
                        <div class="lmui-menu-name">菜单维护</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>