<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>微信后台管理系统</title>

    <link rel="stylesheet" type="text/css" href="css/system/frame.css" />
    <link rel="stylesheet" type="text/css" href="css/lm/lmui.css" />
    <script type="text/javascript" src="webjars/jquery/1.12.4/dist/jquery.min.js"></script>
    <script type="text/javascript" src="js/system/frame.js"></script>
    <script type="text/javascript" src="js/lm/menu.js"></script>

</head>
<body>
    <div class="container">
        <div class="left_bar" th:include="/system/frame/left_bar.html"></div>
        <div class="frame-right">
            <div class="header"></div>
            <div class="page-control">
                <div class="lm-tabs"></div>
            </div>
            <div class="main"></div>
        </div>
    </div>
</body>

<script>
    lmui.menu("#system-menu");
</script>
</html>